

.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    background-color: #c1d9f3;
    color: #ffffff;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    margin-bottom: 0;
}

.modal-body {
    padding: 20px;
}

.modal-footer {

    background-color: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

